/*header/nav*/
#header {
      position: sticky;
      background-color: white;
}
nav {
      background-color: #ffc017;
}

#navflex img {
      padding-left: 30px;
}
#navflex {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1000px;
      justify-content: space-between;
      justify-content: left;
      gap: 200px;
}
.ulflex {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 40px;
      list-style-type: none;
}

li a {
      text-decoration: none;
      font-size: 1.2rem;
      color: black;
}

.bot {
      background-color: black;
      color: white;
      text-decoration: none;
      padding: 15px;
      font-size: 1.2rem;
      border-radius: 70px;
}

/*conteiner h1*/
.conteinerh1 {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      background-color: #ffc017;
      padding-top: 90px;
      padding-bottom: 110px;
}
h1 {
      font-size: 3rem;
      position: absolute;
      left: 30px;
      top: 110px;
}
.pi {
      position: relative;
      left: 30px;
      top: 20px;
      font-size: 20px;
}
.display {
      display: block;
}
button {
      position: relative;
      left: 30px;
      top: 50px;
      border-radius: 70px;
      background-color: black;
      color: white;
      padding: 8px 35px;
      font-size: larger;
}
button:hover {
      background-color: darksalmon;
}
/*main*/
main {
      width: 1400px;

      padding-left: 40px;
      padding-right: 40px;
}
.inline {
      display: flex;
      flex-direction: row;
      align-items: center;
}
.trading {
      font-size: 1.3rem;
      font-weight: bold;
}
.conteinerBox {
      display: flex;
      align-items: normal;
      height: 400px;
      max-width: 1000px;
}
.mainflex {
      display: flex;
      flex-wrap: wrap;
      align-content: normal;
      list-style-type: none;
}

.number {
      opacity: 0.3;
      font-size: 4rem;
}
#popup {
      height: 80px;
      width: 130px;
      font-size: 12px;
      border: 1px solid black;
      position: relative;
      bottom: 120px;
      left: 80px;
      z-index: 1;
      background-color: white;
      font-weight: bold;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.301);
      display: none;
}

#button {
      width: 40px;
      height: 5px;
      font-size: 0.6rem;
      padding-left: 2px;
      padding-right: 6px;

      padding-bottom: 8px;
      background-color: green;
      position: relative;
}
.div01 {
      flex-basis: 33%;
}
.div02 {
      flex-basis: 29%;
}
.div03 {
      flex-basis: 34%;
}
.div04 {
      flex-basis: 32%;
      flex-shrink: 2;
}
.div05 {
      flex-basis: 30%;
      flex-shrink: 2;
}
.div6 {
      flex-basis: 29%;
}
.mainflex li img {
      width: 17px;
      border-radius: 100%;
}
.text {
      display: block;
}
.t1 {
      font-weight: bold;
}

/*parte finale*/ /* usa position absolute /position relative sulle 3 foto link*/
/*.box3 {
      display: flex;
      max-width: 1290px;
}
aside {
      display: flex;
      flex-direction: column;
      flex-basis: 49%;
      padding-left: 30px;
}
.p1 {
      display: flex;
      align-items: center;
      gap: 49px;
}
.radius {
      background-color: #f2f2f2;
      color: black;
      padding: 4px;
      border-radius: 40%;
      border: 1px solid #f2f2f2;*/
.box3 {
      display: flex;
      padding-top: 75px;
      border-top: 1px solid rgba(0, 0, 0, 0.269);
}
aside {
      width: 55%;
}
.logo {
      border-radius: 100%;
      width: 17px;
}
.bC {
      position: absolute;
      padding-left: 8px;
}
.text1 {
      font-weight: bold;
      padding-top: 11px;
}

.t3 {
      display: block;
      padding-top: 10px;
      font-size: 0.8rem;
      font-weight: bold;
      opacity: 0.5;
}
.foto {
      position: relative;
      left: 357px;
      bottom: 80px;
}
.bR {
      position: relative;
      top: 160px;
      padding-left: 10px;
}
.foto {
      position: relative left 357px;
      bottom: 80px;
}
.divflex {
      max-width: 434px;
      height: 50%;
      height: 60%;
      display: flex;

      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-evenly;
      gap: 9px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.358);
}
.divflex .border {
      text-decoration: none;
      color: black;
      border: 1px solid #f2f2f2;
      background-color: #f2f2f2;
      border-radius: 40%;
      font-size: 1rem;
      padding: 10px 2px;
      padding: 20px;
}
.green {
      color: green;
      text-decoration: none;
      padding-bottom: 30px;
}
.divfooter a {
      text-decoration: none;
      color: #dbdbdb;
      padding: 10px;
      padding-top: 20px;
      padding-left: 10px;
}
.divfooter {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 373px;
}
.testo {
      font-size: 1.2rem;
      padding-left: 30px;
      font-weight: bold;
      padding-bottom: 40px;
}
