@import "_reset";
@import "colori";
@import "spaziature";
.container-fluid {
      background-color: map-get($colore, primary);
}
.logo {
      height: $spazio-logo;
      width: $spazio-logo;
}
.container {
      background-color: map-get($colore, primary);
}
