@import "_reset";
@import "colori";
@import "spaziature";
@import "bottoni";
.container-fluid {
      background-color: map-get($colore, primary);
}
.logo {
      height: $spazio-logo;
      width: $spazio-logo;
}
.container {
      background: map-get($colore, primary);
      height: nth($bottone-per, 3);
}
