#title{
     margin: 30px;
    font-size: 3em;
    font-weight: bolder;
    

}
#tableTombola{
    border: solid gold;
    width: 700px;
    height: 400px;
    font-size: 1em;
    padding: 30px;
    display: flex;
    flex-wrap:wrap;
    background-color: hotpink;
    

}
  .pad{
    flex: 0 1 calc(100%/7);

    text-align: center;;
    margin: 5px;
    border: solid rgb(189, 201, 19);
    color: antiquewhite;
    border-radius: 100%;
    background-color:rgb(189, 201, 19);
    
}
.bottone{    padding: 5px;
    margin-top: 10px;
             margin-left: 20px;
             background-color:rgb(189, 201, 19);
             color: white;
             border: rgb(189, 201, 19);
             padding-left: 20px;
             padding-right: 20px;
             text-align: center;
    
}