h2 {
  color: yellow;
  line-height: 0.3;
}
h1 {
  font-size: xx-large;
  font-weight: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
