<div class="container2">
  <h2>EpicMeteo</h2>

  <div class="container">
    <h5>Ultimi aggiornamenti</h5>
    <p>
      Allerta meteo:perturbazione glaciali che perteranno un calo drastico delle
      temperature con neve abbondati in tutte le regioni d'italia
    </p>
  </div>
  <div class="row">
    <p>Condizioni meto Italia</p>
    <div id="img" class="col-12 col-md-6"></div>
    <div id="img2" class="col-12 col-md-6"></div>
  </div>
</div>
<router-outlet></router-outlet>
<footer>
  <hr />
  <p>© 2023 Company, Inc</p>
</footer>
